[Unit]
Description=Ant Media Server
After=syslog.target network.target

[Service]
Type=simple
User=__APP
Group=__APP__
Environment=JVM_MEMORY_OPTIONS=
Environment=JAVA_HOME=/usr/bin/java
LimitNOFILE=65536
Environment=ANTMEDIA_HOME=__INSTALL_DIR__/antmedia
WorkingDirectory=__INSTALL_DIR__/antmedia
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
TasksMax=36000
TimeoutStopSec=10
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
